* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
}

.btn {
  background-image: linear-gradient(to bottom, orangered, tomato);
  color: white;
  border: none;
  border-radius: 3px;
  margin: 4% 0;
  padding: 1% 3%;
  box-shadow: 10px 5px 15px grey;
}

.hero-wrapper {
  width: 100vw;
}

.hero-section {
  display: flex;
  padding: 0 7%;
}

.text {
  width: 50%;
  align-self: center;
  max-height: 75%;
  text-align: justify;
}

.text > h1 {
  font-style: italic;
}

.image {
  width: 50%;
  /* width: 60%;
  max-width: 60%; */
  min-width: 250px;
}

.image > img {
  justify-content: center;
  max-height: 80%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.features {
  margin-top: 3.5%;

  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5%;
}

.features > .card {
  width: 34%;
  height: fit-content;
  /* background-color: grey; */
  display: block;
  margin: 1% auto;
  padding: 2%;
}

.card > i{
  color: orange;
}

@media all and (max-width: 568px) {
  .hero-section {
    flex-direction: column-reverse;
  }

  .text {
    width: 100 vw;
  }

  .image {
    width: 100vw;
    display: block;
    margin: 0 auto;
  }

  .features > .card {
    width: 100%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-bottom: 7.5%;
  }
}
